body{
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 680px){
    .mapa{
        z-index: 1;
        width: 100%;
        height: 550px;
    }
}

/* Nav-bar */
.nav-bar{
    z-index: 99999;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 2px 2px #dbdbdb;
}

/* Margem do container */
.container{
    width: 100%;
    height: 90%;
    position: absolute;
    background-color: #7159C1;
    z-index: 1;
    margin-top: 30px;
}

/* Menu  navbar*/
.menu{
    z-index: 99999;
    margin-right: 10px;
}

#menu-hover{
    display: none;
}

.container-menu{
    z-index: 99999;
    position: absolute; 
    background-color: white;
    width: 35%;
    height: 13%;
    right: 0;
    line-height: 1.5rem;
    text-align: right;
}

.container-menu p{
    z-index: 99999;
    font-size: 1.2rem;
    position: absolute;
    color: #7159C1;
    border-style: solid;
    border-width: 1px;
    border-color: #dbdbdb;
}

#button-pagina-inicial{
    width: 100%;
}

#button-ajuda{
    width: 100%;
}

#button-rotina{
    width: 100%;
}

#button-scan{
    width: 100%;
}

#button-pagina-inicial:hover {
    z-index: 99999;
    background-color: #7159C1;
    color: #dbdbdb;
}

#button-ajuda:hover{
    z-index: 99999;
    background-color: #7159C1;
    color: #dbdbdb;
}

#button-rotina:hover{
    z-index: 99999;
    background-color: #7159C1;
    color: #dbdbdb;
}

#button-scan:hover{
    z-index: 99999;
    background-color: #7159C1;
    color: #dbdbdb;
}

/* Barra de busca */
#busca{
    z-index: 99999;
    margin-top: 12px;
    margin-right: 20px;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border-style: solid;
    border-color: #dbdbdb;
    border-width: 1px;
}

/* Mapa */
.mapa{
    z-index: 5;
    position: relative;
    border-style: none none solid none;
    border-width: 2px;
    border-color: #dbdbdb;
    animation-name: fadeNotification;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}

/* Div da Rotina */

.plus-image{
    border-radius: 50%;
    z-index: 10;
    position: absolute;
    top: 10px;
    right: 10px;
    box-shadow: 2px 2px 2px 2px #dbdbdbdb;
}

.plus-image:hover{
    box-shadow: 4px 4px 4px 4px #dbdbdb;
}

.rotina{
    z-index: 99;
    background-color: #ffffff;
    position: absolute;
    bottom: 100px;
    margin-left: 10%;
    justify-content: center;
    width: 80%;
    height: 270px;
    text-align: center;
    box-shadow: 2px 2px #dbdbdbdb;
    border-style: solid;
    border-width: 1px;
    border-color: #dbdbdb;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    animation-name: fadeNotification;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}

.rotina h1{
    font-size: 1.5rem;
}

.titulo{
    margin-top: 10px;
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
}

.horario1{
    font-size: 1.2rem;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    border-style: solid none solid none;
    border-color: #dbdbdb;
    border-width: 2px;
}

.texto1{
    font-size: 1.2rem;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 5;
    border-style: solid none solid none;
    border-color: #dbdbdb;
    border-width: 2px;
}

.horario2{
    font-size: 1.2rem;
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
    border-style: none none none none;
    border-color: #dbdbdb;
    border-width: 2px;
}

.texto2{
    font-size: 1.2rem;
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 5;
    border-style: none none none none;
    border-color: black;
    border-width: 2px;
}

/* Botões de interação */
.how-to-button{
    z-index: 99;
    background-color: white;
    margin-top: 5%;
    margin-left: 3%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    animation-name: fadeNotification;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}

.how-to-button:hover{
    box-shadow: 3px 3px 3px 3px #dbdbdb;
}

.imagem-interrogacao{
    z-index: 99;
    margin-left: 20px;
    margin-top: 10px;
}

.chamar-button{
    background-color: #ffffff;
    text-align: center;
    z-index: 99;
    margin-left: 26%;
    font-size: 2rem;
    position: absolute;
    width: 150px;
    bottom: 20px;
    height: 30px;
    border-radius: 15px;
    padding: 10px;
    animation-name: fadeNotification;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}

.chamar-button h2{
    z-index: 99;
}

.chamar-button:hover{
    box-shadow: 3px 3px 3px 3px #dbdbdb;
}

.scan-button{
    z-index: 99;
    margin-top: 5%;
    margin-left: 75%;
    background-color: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    animation-name: fadeNotification;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}

.scan-button:hover{
    box-shadow: 3px 3px 3px 3px #dbdbdb;
}

.scan{
    z-index: 99;
    margin-left: 15%;
    margin-top: 15%;
}

.cor-fundo{
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 200px;
    background-color: #7159C1;
    bottom: 0;
}

.cor-fundo2{
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 200px;
    background-color: #7159C1;
    top: 0;
    left: 0;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

/* Página de Ajuda */

.cor-fundo-ajuda{
    z-index: 1;
    background-color: #7159C1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 7%;
}

.titulo-funcionamento{
    z-index: 2;
    position: absolute;
    top: 7%;
    text-align: center;
    font-size: 2rem;
    height: 60px;
    width: 100%;
    animation-name: fadeNotification;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    color: #dbdbdb;
}

.titulo-texto{
    z-index: 2;
    margin-top: 3%;
}

.descricao{
    z-index: 2;
    position: absolute;
    top: 15%;
    display: flex;
    margin-top: 15%;
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
    flex-wrap: wrap;
    font-size: 1.3rem;
    height: 500px;
    width: 80%;
    border-style: solid;
    border-color: #dbdbdb;
    border-width: 1px;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    animation-name: fadeNotification;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;  
    background-color: white;
    box-shadow: 1px 1px 1px 1px #dbdbdb;
}

.button-ok-ajuda{
    z-index: 2;
    width: 30%;
    height: 10%;
    font-size: 2rem;
    border-style: solid;
    border-color: #dbdbdb;
    border-width: 1px;
    animation-name: fadeNotification;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    color: #dbdbdb;
    background-color: #7159C1;
}

.texto-ok-ajuda{
    margin-top: 10%;
    text-align: center;
}

li{
    margin-top: 5%;
}

.button-ok-ajuda:hover{
    z-index: 2;
    background-color: black;
    color: white;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

/* Pagina de Edicao de Rotinas */

.container-edicao-rotina{
    display: flex;
}

.titulo-edicao-rotina{
    z-index: 2;
    top: 13%;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    position: absolute;
    animation-name: fadeNotification;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    color: #dbdbdb;
}

.cor-fundo-container{
    z-index: 1;
    position: absolute;
    top: 20%;
    left: 7.5%;
    background-color: white;
    width: 85%;
    height: 70%;
}

.titulo-dias-semana{
    position: absolute;
    color: #000000;
    margin-left: 6%;
}

/* Inputs para edicao de rotina*/

#input-titulo{
    z-index: 2;
    width: 60%;
    justify-content: center;
    position: absolute;
    left: 20%;
    top: 28%;
    border-style: solid;
    border-color: #dbdbdb;
    border-width: 2px;
    animation-name: fadeNotification;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    color: #000000;
}

.edicao-titulo{
    z-index: 2;
    position: absolute;
    top: 23%;
    left: 15%;
    font-size: 1.5rem;
    animation-name: fadeNotification;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    color: #000000;
}

/* Botoes de ok e cancelar */

.titulo-time-chegada{
    z-index: 2;
    position: absolute;
    font-size: 1.5rem;
    top: 46%;
    left: 12%;
    animation-name: fadeNotification;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    color: #000000;
}

#time-chegada{
    z-index: 2;
    width: 30%;
    position: absolute;
    top: 51%;
    left: 35%;
    font-size: 2.5rem;
    border-style: solid;
    border-color: #dbdbdb;
    border-width: 1px;
    animation-name: fadeNotification;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}

.titulo-time-saida{
    z-index: 2;
    position: absolute;
    font-size: 1.5rem;
    top: 63%;
    left: 12%;
    animation-name: fadeNotification;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    color: #000000;
}

#time-saida{
    z-index: 2;
    top: 69%;
    left: 35%;
    width: 30%;
    position: absolute;
    font-size: 2.5rem;
    border-style: solid;
    border-color: #dbdbdb;
    border-width: 1px;
    animation-name: fadeNotification;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}

.cor-fundo-edicao{
    z-index: 1;
    width: 100%;
    height: 95%;
    background-color: #7159C1;
    position: absolute;
    top: 7%;
    left: 0;
}

/* Divisao dos dias da semana um ao lado do outro */

.dias-semana{
    z-index: 2;
    display: flex;
    justify-content: space-between;
    width: 80%;
    position: absolute;
    top: 38%;
    left: 10%;
    font-family: 'helvetica', sans-serif;
    font-size: 2rem;
    text-align: center;
    animation-name: fadeNotification;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}

.titulo-dias-semana{
    z-index: 2;
    font-size: 1.5rem;
    position: absolute;
    top: 33%;
    left: 3%;
    animation-name: fadeNotification;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    color: #000000;
}

/*Formato dos botoes dos dias da semana*/

.sunday{
    z-index: 9999;
    border-style: solid;
    border-color: #dbdbdb;
    border-width: 1px;
    width: 30px;
    text-align: center;
    background-color: #ffffff;
}


.monday{
    z-index: 9999;
    width: 30px;
    border-style: solid;
    border-color: #dbdbdb;
    border-width: 1px;
    text-align: center;
    background-color: #ffffff;
}


.tuesday{
    z-index: 9999;
    width: 30px;
    border-style: solid;
    border-color: #dbdbdb;
    border-width: 1px;
    text-align: center;
    background-color: #ffffff;
}


.wednesday{
    width: 30px;
    z-index: 9999;
    border-style: solid;
    border-color: #dbdbdb;
    border-width: 1px;
    text-align: center;
    background-color: #ffffff;
}


.thursday{
    z-index: 9999;
    border-style: solid;
    width: 30px;
    border-color: #dbdbdb;
    border-width: 1px;
    text-align: center;
    background-color: #ffffff;
}


.friday{
    z-index: 9999;
    border-style: solid;
    border-color: #dbdbdb;
    width: 30px;
    text-align: center;
    border-width: 1px;
    background-color: #ffffff;
}


.saturday{
    z-index: 9999;
    border-style: solid;
    width: 30px;
    border-color: #dbdbdb;
    background-color: #ffffff;
    border-width: 1px;
    text-align: center;
}

/* Configuracoes de botoes dos dias da semana */

.sunday:hover{
    background-color: black;
    color: white;
}

.monday:hover{
    background-color: black;
    color: white;
}

.tuesday:hover{
    background-color: black;
    color: white;
}

.wednesday:hover{
    background-color: black;
    color: white;
}

.thursday:hover{
    background-color: black;
    color: white;
}

.friday:hover{
    background-color: black;
    color: white;
}

.saturday:hover{
    background-color: black;
    color: white;
}

/* configuracoes de botoes de ok e cancelar */


.button-ok-edicao-rotina{
    font-size: 1.2rem;
    position: absolute;
    width: 20%;
    height: 30px;
    left: 52%;
    top: 78%;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-color: #dbdbdb;
    border-width: 1px;
    animation-name: fadeNotification;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    z-index: 2;
    background-color: #7159C1;
    color: white;
}

.button-cancelar-edicao-rotina{
    font-size: 1.2rem;
    z-index: 2;
    background-color: #7159C1;
    color: white;
    position: absolute;
    height: 30px;
    padding: 10px;
    width: 20%;
    left: 22%;
    top: 78%;
    text-align: center;
    border-style: solid;
    border-color: #dbdbdb;
    border-width: 1px;
    animation-name: fadeNotification;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}

.button-ok-edicao-rotina:hover{
    z-index: 2;
    background-color: black;
    color: white;
}

.button-cancelar-edicao-rotina:hover{
    z-index: 2;
    background-color: black;
    color: white;
}

/* Pagina de avaliacao do manobrista -=--=-=-=-=-=-=-=--=-=-=-=-=-=-=--=-=-=-=-=-=-=--=-=-=-=-=-=-=--=-=-=-=-=-=-=--=-=-=-=-=-=-=--=-=-=-=-=-= */

#container-avaliacao-manobrista{
    display: flex;
    justify-content: center;
}

.titulo-avaliacao-manobrista{
    z-index: 3;
    font-size: 1.5rem;
    color: #7159C1;
    position: absolute;
    top: 25%;
    left: 5.25%;
    text-align: center;
    width: 90%;
    animation-name: fadeNotification;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}


.stars{
    z-index: 3;
    width: 60%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 85%;
    top: 45%;
    left: 8%;
    animation-name: fadeNotification;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    background-color: white;
}

.text-ok{
    z-index: 3;
    margin-top: 2%;
    animation-name: fadeNotification;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}

.titulo-gorjeta{
    z-index: 3;
    border-width: 1px;
    border-color: #dbdbdb;
    border-style: solid;
    line-height: 2rem;
    position: absolute;
    width: 150%;
    top: -150%;
    left: -25%;
    font-size: 1.5rem;
    background-color: white;
    text-align: center;
    color: #7159C1;
}

.gorjeta{
    z-index: 3;
    width: 60%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 63%;
    left: 20%;
    animation-name: fadeNotification;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}

.um-real{
    z-index: 3;
    font-size: 1.1rem;
    border-style: solid;
    border-color: #dbdbdb;
    background-color: white;
    height: 40px;
    width: 40px;
    text-align: center;
    border-width: 1px;
    color: #7159C1;
}

.tres-reais{
    z-index: 3;
    font-size: 1.1rem;
    border-style: solid;
    border-color: #dbdbdb;
    background-color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    border-width: 1px;
    color: #7159C1;
}

.cinco-reais{
    z-index: 3;
    font-size: 1.1rem;
    border-style: solid;
    border-color: #dbdbdb;
    background-color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    border-width: 1px;
    color: #7159C1;
}

.um-real:hover{
    z-index: 3;
    color: white;
    background-color: #000000;
}

.tres-reais:hover{
    z-index: 3;
    color: white;
    background-color: #000000;
}

.cinco-reais:hover{
    z-index: 3;
    color: white;
    background-color: #000000;
}

.texto-gorjeta{
    z-index: 3;
    margin-top: 12px;
}

#notificacao-agradecimento{
    z-index: 9999;
    width: 60%;
    height: 35%;
    border-width: 1px;
    border-color: #dbdbdb;
    border-style: solid;
    position: absolute;
    top: 25%;
    left: 20%;
    background-color: white;
    display: none;
    animation-name: fadeNotification;
    animation-duration: 1.2s;
}

.texto-agradecimento{
    margin-top: 50%;
    text-align: center;
    font-size: 1.2rem;
    color: #7159C1;
}

#ok-avaliacao{
    z-index: 3;
    position: absolute;
    top: 70%;
    left: 35%;
    font-size: 1.5rem;
    width: 70px;
    height: 30px;
    border-color: #dbdbdb;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    background-color: #7159C1;
    animation-name: fadeNotification;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    color: #dbdbdb;
}

#ok-avaliacao:hover{
    z-index: 3;
    color: white;
    background-color: black;
}

.foto-manobrista{
    z-index: 3;
    width: 60%;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 85%;
    left: 8%;
    top: 31%;
    animation-name: fadeNotification;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}

.cor-fundo-avaliacao{
    position: absolute;
    top: 7%;
    left: 0;
    z-index: 1;
    background-color: #7159C1;
    width: 100%;
    height: 100%;
}

.cor-fundo-container-avaliacao{
    z-index: 2;
    position: absolute;
    width: 92%;
    height: 75%;
    top: 15%;
    left: 4%;
    background-color: white;
    border-color: #dbdbdb;
    border-width: 1px;
    border-style: solid;
}

/* Avaliação Cliente -=-=-==-=-=-=-=-=-=-=-=-=-=--=-=-==-=-=-=-=-=-=-=-=-=-=--=-=-==-=-=-=-=-=-=-=-=-=-=--=-=-==-=-=-=-=-=-=-=-=-=-=- */

#container-avaliacao-cliente{
    display: flex;
}

.titulo-avaliacao-cliente{
    z-index: 2;
    font-size: 1.7rem;
    color: white;
    position: absolute;
    top: 13%;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #dbdbdb;
    animation-name: fadeNotification;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    text-align: center;
}

/* Estacionado -=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=- */

.container-descricao-estacionado{
    position: absolute;
    display: flex;
    width: 100%;
    height: 60%;
    background-color: #f7f7f7;
}

.estacionado-background-color{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
}

.titulo-estacionado{
    margin-top: 30px;
    font-size: 1.5rem;
    z-index: 4;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 85%;
    height: 6.5%;
    left: 8%;
    text-align: center;
    border-style: none none solid none;
    border-width: 0.1875rem;
    border-color: #dbdbdb;
    animation-name: fadeNotification;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}

.texto-estacionado{
    font-size: 1.3rem;
    margin-left: 10px;
    z-index: 4;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 85%;
    left: 8%;
    top: 55%;
    animation-name: fadeNotification;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}

.foto-carro{
    z-index: 3;
    width: 60%;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 85%;
    left: 8%;
    top: 30%;
    animation-name: fadeIn;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

.horario-saida{
    font-size: 1.5rem;
    z-index: 4;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 85%;
    height: 10%;
    top: 17.5%;
    left: 8%;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #7159c1 , #453485);
    animation-name: fadeNotification;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}

.descricao-estacionado-carro{
    font-size: 1.5rem;
    z-index: 4;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 85%;
    height: 10%;
    top: 55%;
    left: 8%;
    text-align: center;
    align-items: center;
    border-style: none none solid none;
    border-color: #dbdbdb;
    border-width: 0.1875rem;
    animation-name: fadeNotification;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}

.descricao-estacionado-placa{
    font-size: 1.5rem;
    z-index: 4;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 85%;
    height: 10%;
    top: 65%;
    left: 8%;
    text-align: center;
    align-items: center;
    border-style: none none solid none;
    border-color: #dbdbdb;
    border-width: 0.1875rem;
    animation-name: fadeNotification;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}

.descricao-estacionado-vaga{
    font-size: 1.5rem;
    z-index: 4;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 85%;
    height: 10%;
    top: 75%;
    left: 8%;
    text-align: center;
    align-items: center;
    border-style: none none solid none;
    border-color: #dbdbdb;
    border-width: 0.1875rem;
    animation-name: fadeNotification;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}

.estacionado-info-cliente{
    z-index: 1;
    position: absolute;
    display: flex;
    width: 100%;
    height: 37.5%;
    bottom: 0;
    background-image: linear-gradient(to bottom, #7159c1 , #352961);
    box-shadow: 0px -5px 3px 1px #dbdbdb;
}

.estacionado-foto-cliente{
    z-index: 3;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 85%;
    left: -22.5%;
    top: 25%;
    animation-name: fadeNotification;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}

.titulo-cliente-estacionado{
    margin-top: 20px;
    font-size: 1.5rem;
    z-index: 4;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 85%;
    height: 10%;
    left: 8%;
    text-align: center;
    border-style: none none solid none;
    border-width: 0.125rem;
    border-color: #bdbdbd;
    animation-name: fadeNotification;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}

.estacionado-info-cliente p{
    color:#dbdbdb
}

.estacionado-foto-cliente{
    z-index: 3;
    width: 60%;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 85%;
    left: -20%;
    top: 25%;
    animation-name: fadeIn;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

.descricao-estacionado-nome{
    font-size: 1.3rem;
    z-index: 4;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 50%;
    height: 10%;
    left: 40%;
    top: 26.5%;
    text-align: center;
    border-style: none none solid none;
    border-width: 0.125rem;
    border-color: #bdbdbd;
    animation-name: fadeNotification;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}

.descricao-estacionado-avaliacao{
    font-size: 1.2rem;
    z-index: 4;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 60px;
    height: 10%;
    top: 38.5%;
    left: 55.5%;
    text-align: center;
    align-items: flex-end;
    animation-name: fadeNotification;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}

.call-client{
    z-index: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 40%;
    height: 45px;
    left: 30%;
    top: -22.5%;
    background-image: linear-gradient(to bottom, #7159c1 , #453485);
    border-radius: 5px;
    animation-name: fadeNotification;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

.estacionado-voltar{
    z-index: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 40%;
    height: 45px;
    left: 30%;
    top: 60%;
    background-color: #dbdbdb;
    border-radius: 5px;
    animation-name: fadeNotification;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

/* Horários -=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=- */

.container-horarios{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #FFFFFF;
    z-index: 0;
}

.conversas{
    z-index: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 40%;
    height: 45px;
    right: 6%;
    background-color: #7159C1;
    border-radius: 5px;
}

.horarios-voltar{
    z-index: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 40%;
    height: 45px;
    left: 8%;
    background-color: #7159C1;
    border-radius: 5px;
}

.horarios-opcoes{
    z-index: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 45px;
    top: 2.5%;
    border-radius: 5px;
}

.tabela-horarios{
    font-family: 'Quicksand', sans-serif;
    border-collapse: collapse;
    margin: 20% 0 0 0;
    font-size: 1rem;
    min-width: 300px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-bottom: 10.5%;
}

.tabela-horarios thead tr{
    background-color: #7159C1;
    color: #FFFFFF;
    text-align: left;
    font-weight: bold;
}

.tabela-horarios tbody tr{
    background-color: #e6e6e6;
    color: #7159C1;
    text-align: left;
    font-weight: 500;
    border-bottom: 1px solid #d1d1d1;
}

.tabela-horarios tbody tr:nth-of-type(odd){
    background-color: #f0f0f0;
}

.tabela-horarios tbody tr.active-row{
    font-weight: bold;
    color: #7159C1;
}

.tabela-horarios th{
    padding: 12px 15px;
}

.tabela-horarios td{
    padding: 12px 15px;
}

/* Página de SCAN -=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=- */

.scan-titulo{
    margin-top: 7px;
    font-size: 2rem;
    animation-name: fadeNotification;
    animation-duration: 1.2s;
}

.scan-camera{
    background-color: white;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 25%;
    top: 25%;
    border-style: solid;
    border-color: #dbdbdb;
    border-width: 3px;
    animation-name: fadeNotification;
    animation-duration: 1.2s;
}

.texto-scan{
    font-size: 1.5rem;
    position: absolute;
    top: 9%;
    left: 27%;
    width: 170px;
    height: 30px;
    color: #dbdbdb;
    text-align: center;
    animation-name: fadeNotification;
    animation-duration: 1.2s;
}

.seta-scan-cima{
    position: absolute;
    top: 11%;
    left: 37%;
    animation-name: fadeNotification;
    animation-duration: 1.2s;
}

.seta-scan-baixo{
    position: absolute;
    top: 15%;
    left: 37%;
    animation-name: fadeNotification;
    animation-duration: 1.2s;
}

.ok-button-scan{
    z-index: 2;
    position: absolute;
    top: 70%;
    left: 58%;
    font-size: 1.5rem;
    background-color: #ffffff;
    width: 80px;
    height: 50px;
    text-align: center;
    color: #7159C1;
    animation-name: fadeNotification;
    animation-duration: 1.2s;
}

.ok-button-scan p{
    margin-top: 10px;
}

.ok-button-scan:hover{
    background-color: #000000;
    color: white;
}

.cancelar-button-scan{
    z-index: 2;
    position: absolute;
    top: 70%;
    left: 18%;
    font-size: 1.5rem;
    background-color: #ffffff;
    width: 120px;
    height: 50px;
    text-align: center;
    color: #7159C1;
    animation-name: fadeNotification;
    animation-duration: 1.2s;
}

.cancelar-button-scan p{
    margin-top: 10px;
}

.cancelar-button-scan:hover{
    background-color: #000000;
    color: white;
}


@keyframes fadeNotification{
    from{
        opacity: 0;
        transform: translateY(-30%);
    }

    to{
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(-10%);
    }

    to{
        opacity: 1;
        transform: translateY(0%);
    }
}
